<style>
    table{
        width: 100%;
        border-collapse: collapse;
    }
    th, td{
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    thead{
        background-color: #f2f2f2;
    }
    tbody tr:nth-child(odd){
        background-color: #f9f9f9;
    }
</style>

<div class="container">
<br>
    <h2>Facture n: {{ order.id }} </h2>
    <hr>

           <span>Date : {{ order.createdAt|date }}</span>
            <br><br>

        Informations du client :
        <table class="table table-bordered">
            <tr>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Téléphone</th>
                <th>Adresse</th>
                <th>Ville</th>
            </tr>
            <tr>
            <td>{{order.firstname}}</td>
            <td>{{order.lastname}}</td>
            <td>{{order.phone}}</td>
            <td>{{order.adress}}</td>
            <td>{{order.city.name}}</td>
            </tr>
        </table>
        <h5> Corps de la commande </h5>
        <table class="table table-bordered">
            <tr>
                <th>Nom du produit</th>
                <th>Prix unitaire</th>
                <th>Quantité</th>
                <th>Prix total</th>
            </tr>
            {% for product in order.orderProducts %}
                <tr>
                    <td>{{ product.product.name }}</td>
                    <td>{{ product.product.price }} EUR</td>
                    <td>{{ product.qte }}</td>
                    <td>{{ product.product.price * product.qte}} EUR</td>
                </tr>
            {% endfor %}
            
        </table>
        <h5> Frais de livraison : {{ order.city.shippingCost }} EUR</h5>
        <h5> Total a payer: {{ order.totalPrice }} EUR</h5>
        

        <br>

</div>
